.header-container { display: flex; justify-content: space-between; align-items: center; padding-block: 5px; }
.header-icone { margin-inline: 5px; font-size: 2.2rem; }

.nav-container { display: flex; justify-content: space-between; align-items: center; }
.nav-logo { width: 100%; max-width: 200px; }
.nav-lista { list-style-type: none; display: flex; gap: 20px; }