@media (max-width: 767px){
    .menuDesktop { display: none; }
    .menuMobileContainer { display: block; }

    .produto-titulo { font-size: 1.8rem; }
    .quem-somos-container { width: 300px; position: relative; }

}

@media (max-width: 300px) {
    
}

@media (min-width: 301px) and (max-width: 380px) {

}

@media (min-width: 381px) and (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) and (max-width: 1599px) {

}

@media (min-width: 1600px) {

}


